<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Sketch generator</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/vishal-gulati/sketch_generator">
        <img height="50" width="50" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="github">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/vishal-gulati-01b7b7169/">
        <img height="60" width="60" src="https://www.freepnglogos.com/uploads/linkedin-in-logo-png-1.png" alt="linkedin">
        </a>
      </li>
    </ul>
  </nav>