<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to Sketch Generation from Image</h1>
    <p>Please upload the image </p>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" accept="image/*" name="upload" >
      <br>
      <br>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>

  </div>
</main>

</body>

</html>